.container {
  width: 100%;
  margin: 0 auto;

  .imageContainer {
    margin-bottom: 5rem;

    img {
      width: 100%;
      height: 25rem;
      object-fit: cover;
    }
  }

  .content {
    width: 720px;
    margin: 0 auto;

    h1 {
      font-size: 3rem;
      font-weight: bold;
      line-height: 3.625rem;

      margin-bottom: 1.5rem;
    }

    .postInfo {
      color: var(--gray-700);
      margin-bottom: 4rem;

      & > div {
        display: flex;
        align-items: center;

        time, p {
          margin-right: 1.5rem;

          display: flex;
          align-items: center;

          .icon {
            margin-right: 0.5rem;
          }
        }
      }

      div + div {
        font-style: italic;
        margin-top: 1rem;
      }
    }

    .postContent {
      h2 {
        font-size: 2.25rem;
      }

      p, ul {
        font-size: 1.125rem;

        margin: 1.5rem 0;
        color: var(--gray-500);
      }

      ul {
        padding-left: 1.5rem;

        li {
          margin: 0.5rem 0;
        }
      }
    }
  }
}

.footer {
  width: 100%;
  margin: 2rem auto 64px;

  div {
    border-top: 0.2px solid gray;
    padding-top: 2rem;
    width: 720px;
    margin: 0 auto 64px;
    display: flex;
    justify-content: space-between;

    a {
      p:first-child {
        color: var(--pink);
        font-size: 1.125rem;
      }

      p + p {
        margin-top: 0.5rem;
        font-size: 1rem;
      }

      & + a {
        text-align: end;
      }
    }
  }
}

.containerPreview {
  width: 100%;
  margin: 0 auto 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
